<div>
    <h3>Szerzők listája</h3>

    <button type="button" class="btn">Base class</button>

    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Név</th>
                <th scope="col" class="text-end">Születési dátum</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Csóka András</td>
                <td class="text-end">2005. 01. 29.</td>
            </tr><tr>
                <th>1</th>
                <td>Csóka András</td>
                <td class="text-end">2005. 01. 29.</td>
            </tr><tr>
                <th>1</th>
                <td>Csóka András</td>
                <td class="text-end">2005. 01. 29.</td>
            </tr><tr>
                <th>1</th>
                <td>Csóka András</td>
                <td class="text-end">2005. 01. 29.</td>
            </tr>
        </tbody>
    </table>

</div>