body{
    background-color: #DACBB3;
}

h1, h3{
    font-weight: bold;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #1a2b47;
}

footer{
    text-align: center;
    letter-spacing: 10px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

 {
  background-color: #978e7d;
  color: #1a2b47;
}

.gonb, .gonb:hover{
    background-color: #1a2b47;
    color: #DACBB3;
}

.adatok{
    width: 50%;
    text-align: center;
}

.d-none{
    display: none;
}

.navbar-custom,
select,
input,
.card,
.table-striped>tbody>tr>td,
.table-striped>thead>tr>th,
.table-striped>tbody>tr>th{
    background-color: #978e7d !important;
    color: #1a2b47;
}
