body{
    background-color: #DACBB3;
}

h1, h3{
    font-weight: bold;
    text-align: center;
}

footer{
    text-align: center;
    letter-spacing: 10px;
}

.card{
    background-color: #978e7d;
    color: 5e77a1;
}

.table-striped>tbody>tr>td,
.table-striped>thead>tr>th,
.table-striped>tbody>tr>th {
  background-color: #978e7d;
  color: #1a2b47;
}

#addAuthorBtn{
    background-color: #1a2b47;
    color: #DACBB3;
}